@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

body {
    background-color: #f4f4f4;
    font-family: 'Inter', sans-serif;
    margin: 0;
}
h1 {
    text-align: center;
    background-color: #ffcc33;
    color: #333;
    font-size: 1.25rem;
    padding: 2% 0;
    margin: 0;
}
ol{
    color: blue;
    font-style: italic;
}
.special-section {
    border: 2px solid #ffcc33;
    margin: 5%;
}
section {
    margin: 5% 10%;
    padding: 3%;
    border-radius: 10px;
    border: 2px solid #a4a4a4;
    font-size: 1.2em;
    color: #333333;
}
.special {
    & p {
        font-size: 0.9em;
        color: grey;
    }
}
span {
    color: white;
    background-color: #ff6f61;
    border-radius: 50%;
    padding: 20px 15px;
    margin-right: 10px;
}
span1 {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}
img {
    display: block;
    margin: 5px auto;
    width: 70%;
    border: 1px solid silver;
    border-radius: 10px;
}
a {
    text-decoration: none;
}

a:hover {

    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}